{% extends 'layouts/page.html' %}

{% block content %}
<div class="page new-question-page">
<h1 class="title">New question</h1>


<form method="POST" action="" class="new-question-form">
  {% csrf_token %}
<div class="fieldWrapper">
  <label for="{{form.title.id_for_label}}">Title:</label>
  {{form.title}}
  <span class="error">{{form.title.errors}}</span>
</div>
<div class="fieldWrapper">
  <label for="{{form.body.id_for_label}}">Body:</label>
  {{form.body}}
  <span class="error">{{form.body.errors}}</span>
</div>
<input type="submit" value="Submit" class="submit-button"/>
</form>

</div>
{% endblock %}
